.field{
    background-color:#dce6ef ;
    margin-left: 150px;
    margin-right: 100px;
    border-color: black;
}
.button{
 background-color:green;
 text-align: center;
 padding: 15px;
 color: white;
 width: 26%;
   }
.headding{
      
       color:#FF5733;              /* #800080;*/
      width: 60%;
  }
input[type=text],input[type=password]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type= radio]{
  float: left;
}
label{
 float:left;

}

body{
  padding: 160px;
  padding-top: 80px;
  width: 70%;
  }
  .gen{
      background-color: white;
      width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
  }
  .formerror {
    color: red;
}

